.bg-white {
	background-color: rgb(44, 29, 29);
}

.bg-grey {
	background-color: #DBF2FF;
}

.profile-image {
	width: 70%;
}

.section-container {
	margin-top: 50px;
	width: 90%;
	margin-bottom: 40px;
	transition: 0.5s;
}

.section-container:hover {
	transition: 0.5s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left {
	background-color: rgb(1, 101, 126);
	padding: 35px;
}

.right {
	padding: 35px;
}

.social-logo {
	display: inline;
	width: 30px;
	margin-right: 10px;
}