.logoMenu{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.navbarInt{
  background-color: #c21554;
  font-size: xx-large;
  /*text : #32c9e4;*/
  font-family: Helvetica;
}
.navbarText{
  color: #32c9e4;
}
.pictProfileAuthor{
  size: 600px;
}
.spc{
  margin: 70px;
  margin-bottom: 50px;
}
.articleText{
  text-align: center;
  font-size: 40px;
}

.vl {
  margin: 70px;
  margin-left: 550px;
    border-left: 2px solid #c21554;
    height: 700px;
    position: absolute;
    /*top: 150px;*/
}
.ExpTextTitle{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px; 
  text-align: center;
}
.ExpTextDesc{
  margin-top: 200px;
  position: relative;
  top: 50%;
  /*transform: translateY(-50%);*/
}
.ExpTextDesc li{
  margin-bottom: 20px;
  font-size: large;
}

.cate{
  margin-right: 70px;  
}
.theForm{
  border-radius: 25px;
  border-color: cyan;
  background-color: white;
  min-width: 150px;
  max-width: 1000px;
}
.eachForm{
  margin-left: 20vw;
  margin-top: 25px; 
  margin-bottom: 0px;
}

.v2{
margin: 70px;
margin-left: 550px;
  border-left: 2px solid #c21554;
  height: 500px;
  position: absolute;
  /*top: 150px;*/
}
.contactMeStart{
margin-left: 200px;
margin-top: 200px;
}
.ContactMeStart2{
margin: 50px; 
position: relative;
top: 50%;
/*transform: translateY(-50%);*/
}


.socMedLogo{
  width: 30vh;
  height: 20vh; 
}