<!DOCTYPE html>
<html>
{% load static %}
<head>
{% include "layout/navbar.html" %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{%static "css/view.css"%}">
</head>
<body>
    {% for e in news%}
    <div class="row ">
      <div class="column nature c">
        <div class="content">
          <img src="/static/img/01.jpg" alt="palu" style="width:100%">
          <div class="container">
            <h4>{{e.title}}</h4>
            <p>{{e.paragraph}}</p>
            <p>.</p>
            <h1></h1>
              <div>
                <a href="" class="btn btn-blue" >Read ></a>
              </div>
          </div>
        </div>
      </div> 
    </div>
    {% endfor %}
  </div>
<footer>
  {% include "layout/footer.html" %}
</footer>

<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}


// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>
</body>

</html>