{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>FUNDEE</title>
</head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #277091;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/viewmore/berita">Berita</a></li>
  <li><a href="/viewmore/program">Program</a></li>
  
  {% if user.is_authenticated %}
    <li><a href="/history">History</a></li>
    <li style="float:right"><a class="active" href="/crowd/donasi">Donasi</a></li>
    <li style="float:right"><a class="active" href="/crowd/logout">Logout</a></li>
  {% else %}
    <li style="float:right"><a class="active" href="/crowd/daftar">Daftar</a></li>
    <!-- <li style="float:right"><a class="active" href="/crowd/daftar">Donasi</a></li> -->
  {% endif %}
</ul>

</body>
</html>
